{% extends 'Style/style.html' %}
{% load mathfilters %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST">
          {% csrf_token %}
{% if cart.menuObjs.all %}
{% for i in cart.menuObjs.all %}
    <div class="card">
  <div class="card-header">
     {{ i.name }}
  </div>
  <div class="card-body">

      <img src="{{ i.image.url }}" class="img-fluid rounded-start" width="120" height="120">
  <br>
       {% if i.lunch  %}
           <h7 class="card-title">Price: <strike>{{ i.price }}</strike>
       <h5> Business Lunch Price:<small class="text-muted">{{ i.price|mul:0.8 }}</small></h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="remove"  value="{{ i.id }}" class="btn"><i class="fa fa-trash"></i> Remove</button></h7>

        {% else %}
            <h5 class="card-title">Price: {{ i.price }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="remove"  value="{{ i.id }}" class="btn"><i class="fa fa-trash"></i> Remove</button></h5>
      {% endif %}

      <input type="hidden" name="objects" value="{{ i.id }}">
      Amount : <input type="number" id="quantity" width=50px name="quantity" value="1" min="1" max="99" required>
<br><br>


      <br>

  </div>
</div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Proceed To Payment</button>
<br><br>

{% else %}
    <h2>Your cart is empty!</h2><br>
    <a href="/menuShow" class="btn btn-primary">Back to menu</a>
{% endif %}
          </form>
</body>
</html>

{% endblock %}
<!DOCTYPE html>




