{% extends 'Style/style.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST">
          {% csrf_token %}
{% if cart.menuObjs.all %}
{% for i in cart.menuObjs.all %}
    <div class="card">
  <div class="card-header">
     {{ i.name }}
  </div>
  <div class="card-body">

      <img src="{{ i.image.url }}" class="img-fluid rounded-start" width="120" height="120">
      <h5 class="card-title">Price: {{ i.price }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button name="remove"  value="{{ i.id }}" class="btn"><i class="fa fa-trash"></i> Remove</button></h5>
      <input type="hidden" name="objects" value="{{ i.id }}">
      Amount : <input type="number" id="quantity" width=50px name="quantity" value="1" min="1" max="99">
<br><br>


      <br>

  </div>
</div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Proceed To Payment</button>
<br><br>

{% else %}
    <h2>Your cart is empty!</h2><br>
    <a href="/menuShow" class="btn btn-primary">Back to menu</a>
{% endif %}
          </form>
</body>
</html>

{% endblock %}
<!DOCTYPE html>




