
{% extends 'Style/style.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <script>
            window.onload = function() {
    document.getElementById('ifYes').style.display = 'none';
    document.getElementById('ifNo').style.display = 'block';
}
        function yesnoCheck(that) {
    if (that.value == "Credit") {
  alert("Proceeding you to payment..");
        document.getElementById("ifYes").style.display = "block";
        document.getElementById("ifNo").style.display = "none";
    }
    else {
        document.getElementById("ifNo").style.display = "block";
        document.getElementById("ifYes").style.display = "none";
    }

}
    </script>
</head>
<body>
<div align="center">
<form action="{% url 'PlaceOrder' %}" method="POST">{% csrf_token %}
    <input type="hidden" name="sum" value="{{ sum }}">
<br><br>
    <h3>Order Summary:</h3><br>
    {% for order,quantity in summary %}
        <input type="hidden" name="orders" value={{ order }}>
        <input type="hidden" name="quatities" value="{{ quantity }}">
        <h3>{{ order }} X {{ quantity }}</h3><br>
    {% endfor %}
    <h2>Total:{{ sum }}</h2><br> <h5 style="color: green">{{ msg }}</h5>
    Payment method:
<select value = none name = "method" onchange="yesnoCheck(this);">
    <option value="Cash">Cash</option>
    <option value="Credit">Credit</option>
</select>

<div id="ifYes" style="display: block;">
    <h6><label for="name">Full Name:</label> <input type="text" id="name" name="name" required/><br><br>
    <label for="phone">Phone number:</label> <input type="text" id="phone" name="phone"required /><br><br>
    <label for="ID">ID:</label> <input type="text" id="ID" name="ID" required/><br><br>
    <label for="cardnumber">Card Number:</label> <input type="text" id="cardnumber" name="cardnumber" required/><br><br>
    <label for="expire">Expire Date:</label> <input type="text" id="expire" name="expire" required/><br><br>
    <label for="CVV">CVV:</label> <input type="text" id="CVV" name="CVV" required/><br></h6><br>
    <input type="hidden" name="paymentmethod" value="credit">
    <h2><button  onclick="myFunction() "type="submit"  class="btn btn-primary">Pay</button></h2>
</div>
<div id="ifNo" style="display: block;"><br>
<h2><button  onclick="myFunction()" type="submit"  class="btn btn-primary">Place Order</button></h2>
    <input type="hidden" name="paymentmethod" value="cash">
</div>

<script>
function myFunction() {
  alert("Thank you {{ user.username }}! , It'll be ready as soon as possible!\n Notice: You can't modify your order after we started preparing it!");
}
</script>

</form>
    </div>
</body>
</html>
{% endblock %}








