{% extends 'Style/style.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">{% csrf_token %}
<br><br>
    <h3>Summary:</h3><br>
    {% for order,quantity in summary %}
        <h3>{{ order }} X {{ quantity }}</h3><br>
    {% endfor %}
    Total:{{ sum }}
    Payment method:
<select onchange="yesnoCheck(this);">
    <option value="cash">Cash</option>
    <option value="credit">Credit</option>
</select>

<div id="ifYes" style="display: none;">
    <label for="name">Full Name:</label> <input type="text" id="name" name="name" /><br />
    <label for="phone">Phone number:</label> <input type="text" id="phone" name="phone" /><br />
    <label for="ID">ID:</label> <input type="text" id="ID" name="ID" /><br />
    <label for="cardnumber">Card Number:</label> <input type="text" id="cardnumber" name="cardnumber" /><br />
    <label for="expire">Expire Date:</label> <input type="text" id="expire" name="expire" /><br />
    <label for="CVV">CVV:</label> <input type="text" id="CVV" name="CVV" /><br />
</div>
<br><br>
<button type="submit" class="btn btn-primary">Pay</button>
</form>
</body>
</html>
{% endblock %}




