{% extends 'Style/style.html' %}
{% block content %}
<div align="center">
<h1>Add Barista</h1>
    <br><br>
</div>
    {% if error != "" %}
    <h2 class="alert alert-danger">{{ error }}</h2>
        {% endif %}
            <form method="POST" name="clicked" action="{% url 'AddBarista' %}" >
                {% csrf_token %}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" style="color: white; background-color: blue" name="clicked" value ="Create Barista">
            </form>

<br><br><br><br>
{% endblock %}