{% extends 'Style/style.html' %}
{% block content %}
<div align="center">
<h1>Add Client</h1>
</div>
<br><br>
    {% if error != "" %}
    <h2 class="alert alert-danger">{{ error }}</h2>
        {% endif %}
            <form method="POST" name="clicked" action="{% url 'AddClient' %}" >
                {% csrf_token %}
                {{ form.as_p }}
                {{ profile_form.as_p }}
                <h2 style="color: red">Please make sure the client knows we keep ONLY his birthday and number of coffee cups(VIP)</h2>
                <input type="submit" style="color: white; background-color: blue" value ="Create Client" >
            </form>

<br><br><br><br>
{% endblock %}