<!-- CSS only -->
{% extends "menu/style.html" %}
{% block contect %}

<div class="container">
  <div class="row">
    {% for i in menu %}
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ i.image.url }}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }}</h5>
      <p align="right">
          {% if i.VIP %}
          <span>🌟</span> {%  comment %} <span title="your message">🌟</span> {% endcomment %}
          {% endif %}
          {% if i.DOTD %}
          <span>🔥</span>
          {% endif %}
          {% if i.ageLimitation %}
          <span>🔞</span>
          {% endif %}
          {% if not i.availability %}
          <span>🚫</span>
          {% endif %}
      </p>
        <p class="card-text">{{ i.description }}</p>
        <p class="card-text"><small class="text-muted">{{ i.price }}</small></p>
      {% if user.client and i.availability == True %}
          <form method="POST">
          {% csrf_token %}
              <input type="hidden" name="menuObjID" value="{{ i.id }}">
              <input type="hidden" name="userID" value="{{ user.client.id }}">


              <button type="submit"  class="btn btn-primary">Add to cart</button><br>
                 <h4>{{ msg }}</h4>
          </form>
      {% endif %}
      </div>
    </div>
  </div>
</div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endfor %}
  </div>
</div><
<br>
<br>
<br><br><br>


{%  endblock %}

